@charset "UTF-8";

@media screen and (min-width: 768px ) and (max-width: 992px){
    body{
        background-image: linear-gradient(to left, #E08E45, #8ca032);
    }

    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 120%;
    }

    section#login > div#formulario{
        float: right;
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to left, #E08E45, #8ca032);
    }
    section#login{
        width: 950px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 120%;
    }

    section#login > div#formulario{
        float: left;
        width: 45%;
    }


}